.container {
  position: relative;
}

.yAxis {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
}

.chart {
  position: relative;
  left: 40px;
}

.x_grid_d3 .tick {
  display: none;
}

.y_grid .tick {
  display: none;
}

.stackedAreaChart .xAxis {
  position: relative;
  left: 40px;
}
